{% extends "layout.html" %}
{% block content %}
    <h1>Le concept</h1>
    <p class="article-content">Ce site a été créé afin que chacun puisse partager son savoir sans qu'il n'y est de critique possible.<br>
    	Il vous est donc possible de partager ce que vous souhaitez en toute liberté. Le but étant d'offrir aux autres utilisateurs un ouverture d'esprit sur les sujets que vous maitrîsez</p>
    	<h1>Comment faire</h1>
    	
    	
    <ul class="list-group">
                <li>Dans un premier temps, il faut vous créer un compte en cliquant sur s'enregistrer. Maintenant rentrez vos informations personnelles et cliquez sur s'inscrire.</li>
                <li>Maintenant pour partager une publication, allez dans l'onglet Nouvelle publication, rentrez le titre et le contenu de cette dernière. Une fois terminé appuyez sur publier. Si votre publication ne vous conviens pas, ou que vous souhaitez la modifier. Allez dessus et vous pourrez soit la modifier soit la supprimer.</li>
                <li>Pour voir les publications des autres utilisateurs. Allez dans Accueil puis naviguez sur toutes les autres publication. Au besoin, vous pouvez changer de page pour voir plus de publication. Si un auteur vous intéresse plus particulièrement. Vous pouvez voir toutes ses publications en cliquant sur son nom.</li>
                <li>Il vous est possible de modifier vos informations personnelles en allant dans l'onglet Compte. La vous pouvez changer votre pseudo, email et photo de profil. Pour que les informations soient prises en compte appuyé sur appliquer.</li>
                <li>Si vous oublier votre mots de passe, vous pouvez obtenir un lien pour le changer en rentrant votre adresse mail après avoir cliqué sur mots de passe oublié.</li>
              </ul>
  
{% endblock content %}